<section class="py-5">
	<div class="container mx-auto px-4">
		<h1 class="font-roboto mb-6 text-3xl font-semibold leading-tight text-gray-800 md:text-6xl lg:text-5xl">
			Headless WordPress Developer Andrew Kepson
		</h1>
		<div class="flex flex-wrap items-center">
			<div class="mb-6 inline-block max-w-xl md:mb-0">
				<p class="font-work-sans text-xl text-gray-800">
					Blast past your competitors with a headless WordPress website.
				</p>
			</div>
			<a
				class="ml-auto inline-block w-full rounded bg-purple-600 px-12 py-4 text-center text-sm font-medium leading-normal text-white hover:bg-purple-500 md:w-auto"
				href="/contact/"
			>
				Contact Me
			</a>
		</div>
	</div>
</section>
