---
import Layout from "@components/layouts/Layout.astro";
import Hero from "./_components/Hero.astro";
import WebDesign from "./_components/WebDesign.astro";
import HowItWorks from "./_components/HowItWorks.astro";
import CTA from "./_components/CTA.astro";
---

<Layout>
	<div class="snap-y snap-mandatory">
		<Hero />
		<WebDesign />
		<HowItWorks />
		<CTA />
	</div>
</Layout>
