---
import { wordPressPagesBySlug } from "@lib/store";

import PrimaryLayout from "@components/layouts/primary-layout.astro";
import Testimonial from "./_components/Testimonial.astro";
import ContactForm from "./_components/contact-form.astro";

const pageData = wordPressPagesBySlug.get("contact");
---

<PrimaryLayout title={pageData?.seo?.title} description={pageData?.seo?.description} canonical="/contact/">
	<div class="mx-w-2xl px-4 pt-6 lg:px-12">
		<ContactForm />
		<Testimonial />
	</div>
</PrimaryLayout>
