---
import { allWordPressPosts } from "@lib/store";

import Layout from "@components/layouts/Layout.astro";
import Hero from "./_components/Hero.astro";
import LatestBlogPosts from "./_components/LatestBlogPosts.astro";
console.log(allWordPressPosts);
---

<Layout
	title="Welcome to my Headless WordPress site."
	description="This headless WordPress site is styled with TailwindCSS."
	canonical="/"
>
	<div class="-mb-4 flex flex-wrap items-center text-gray-500 md:mb-0 lg:px-12 lg:pt-12">
		<Hero />
		<LatestBlogPosts />
	</div>
</Layout>

<script>
	console.log("Thank you for visiting my headless WordPress site!");
</script>
