---
import { allWordPressPages } from "@lib/store";

import Layout from "@components/layouts/Layout.astro";
import Hero from "./_components/Hero.astro";
import LatestBlogPosts from "./_components/LatestBlogPosts.astro";

const pageData = allWordPressPages.find(page => page.slug === "home");
console.log(pageData);
---

<Layout
	title={pageData?.seo?.title}
	description={pageData?.seo?.description}
	canonical="/"
>
	<div class="-mb-4 flex flex-wrap items-center text-gray-500 md:mb-0 lg:px-12 lg:pt-12">
		<Hero />
		<LatestBlogPosts />
	</div>
</Layout>

<script>
	console.log("Thank you for visiting my headless WordPress site!");
</script>
