---
import { wordPressPagesBySlug, PORTRAIT_PHOTO } from "@lib/store";

import Layout from "@components/layouts/primary-layout.astro";
import Heading from "@components/ui/typography/heading.astro";
import Button from "@components/ui/buttons/button.astro";
import HeroWithImage from "@components/heroes/hero-with-image.astro";
import LatestBlogPosts from "./_components/LatestBlogPosts.astro";

const pageData = wordPressPagesBySlug.get("home");
---

<Layout title={pageData?.seo?.title} description={pageData?.seo?.description} canonical="/">
	<HeroWithImage
		variant="offwhite"
		image={{
			src: PORTRAIT_PHOTO.src,
			alt: PORTRAIT_PHOTO.alt,
		}}
		imagePlacement="right"
		mobileImagePlacement="top"
	>
		<Fragment slot="content">
			<Heading level={2} text="I'm Andrew" />
			<p>
				Headless WordPress. TypeScript. Astro. SEO. Automation. Obsessed with building scaleable, automated
				processes and beautiful, fast websites.
			</p>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
				<Button variant="primary" text="About Me" href="/about/" />
				<Button variant="secondary" text="Get in Touch" href="/contact/" />
			</div>
		</Fragment>
		<div class="text-dark-gray-500 -mb-4 flex flex-wrap items-center md:mb-0">
			<LatestBlogPosts />
		</div>
	</HeroWithImage>
</Layout>
