---
import { getPageBySlug } from "@lib/wordPressAPI";
import { getHeroContent } from "./_components/functions";
import { stripSchemaMarkup } from "@lib/functions";

import Layout from "@components/layouts/Layout.astro";
import Hero from "./_components/Hero.astro";
import LatestBlogPosts from "./_components/LatestBlogPosts.astro";

const pageData = await getPageBySlug("home");
---

<Layout title={pageData?.seo?.title} description={pageData?.seo?.description} canonical="/">
	<div class="-mb-4 flex flex-wrap items-center text-gray-500 md:mb-0">
		<Hero {...getHeroContent(pageData?.content)} />
		<LatestBlogPosts />
	</div>
</Layout>
