---
interface Props {
	headings: any;
}

const { headings } = Astro.props;
---

<ol class="font-body text-ink-400 space-y-2 text-sm leading-relaxed">
	{
		headings.map((heading) => (
			<li class={heading.classes}>
				<a href={`#${heading.slug}`}>{heading.heading}</a>
			</li>
		))
	}
</ol>
