---
interface Props {
	headings: any;
}

const { headings } = Astro.props;
---

<ol class="border-coolGray-100 text-coolGray-300 hover:text-coolGray-500 border-b lg:mb-8 lg:pb-6">
	{
		headings.map((heading) => (
			<li class={heading.classes}>
				<a href={`#${heading.slug}`}>{heading.heading}</a>
			</li>
		))
	}
</ol>
