<section class="snap-start snap-always bg-white py-20 md:py-28">
	<div class="container mx-auto px-4">
		<div class="mx-auto max-w-4xl text-center">
			<h2 class="font-roboto mb-4 text-3xl font-bold text-gray-800 md:text-4xl">
				Colorado Springs Web Developer Who Can Bring Your Site To Life
			</h2>
			<p class="text-coolGray-500 font-work-sans mb-6 text-lg font-medium md:text-xl">
				You need a website to stand out in Colorado Springs. Let's get started.
			</p>
			<a
				href="/contact/"
				class="font-roboto inline-block w-full rounded-sm border border-transparent bg-purple-600 px-7 py-3 text-center text-lg font-medium leading-7 text-white shadow-lg hover:bg-purple-500 hover:shadow-sm md:w-auto"
			>
				Contact Me
			</a>
		</div>
	</div>
</section>
