---
import { Image } from "astro:assets";
---

<section class="bg-offwhite-400 px-4 py-20" data-pg-collapsed id="block-formstack-developer-cta">
	<div class="container mx-auto px-4">
		<div class="mx-auto max-w-2xl">
			<h2 class="heading-two mb-6">Let&rsquo;s Transform Your Business</h2>
			<p class="body-text mb-6">
				Stop struggling with Formstack&rsquo;s learning curve. Partner with a Formstack developer who
				understands the platform inside and out. From revops automation to Formstack for financial services, I
				deliver professional Formstack services that save you time, eliminate errors, and maximize ROI.
			</p>
			<div class="h-112 mb-6">
				<Image
					class="img-base h-full w-full object-cover"
					src={import("../_images/formstack-developer-advantage-graphic-2.png")}
					alt="A Formstack developer giving businesses an advantage by simplifying confusing processes."
					loading="lazy"
				/>
			</div>
			<p class="body-text mb-6">
				Ready to take your business to the next level with Formstack automation services? Let&rsquo;s get
				started today.
			</p>
		</div>
	</div>
</section>
