---
import { Image } from "astro:assets";
---

<section class="relative bg-amber-50 px-4 pb-16 pt-20" data-pg-collapsed id="block-formstack-developer-branding">
	<div class="container mx-auto px-4">
		<div class="h-112 mb-16" data-pg-collapsed>
			<Image
				class="img-base h-full w-full object-cover"
				src={import("../_images/formstack-branded-forms-graphic.png")}
				alt="Graphic depicting custom branded Formstack Form."
				loading="lazy"
			/>
		</div>
		<div class="mx-auto mb-16 max-w-2xl text-center" data-pg-collapsed>
			<h2 class="heading-two mb-10">Custom Branding for Formstack Forms</h2>
		</div>
		<div class="mx-auto max-w-2xl" data-pg-collapsed>
			<p class="body-text mb-6">
				Your forms don&rsquo;t just collect data&mdash;they represent your brand. Imagine embedding forms on
				your website or internal app that perfectly match your company&rsquo;s identity. As a developer with
				extensive experience in CSS and branding, I can:
			</p>
			<ul class="body-text list-disc">
				<li>Design custom themes for Formstack forms that blend seamlessly with your website.</li>
				<li>Ensure your forms look professional and on-brand every time.</li>
				<li>Simplify setup for your team—embed forms knowing they’ll look perfect, no matter the platform.</li>
			</ul>
		</div>
	</div>
</section>
