---
import { Image } from "astro:assets";
---

<section class="bg-offwhite-200 px-4 py-20" data-pg-collapsed id="block-formstack-developer-advantages">
	<div class="container mx-auto px-4">
		<div class="-mx-4 mb-12 flex flex-wrap items-center lg:mb-16">
			<div class="w-full px-4 lg:w-1/2" data-pg-collapsed>
				<div data-pg-collapsed class="md:max-w-lg">
					<h2 class="heading-two mb-4 mt-2">The Formstack Developer Advantage</h2>
					<div data-pg-collapsed class="w-full md:max-w-md">
						<p class="body-text mb-6 lg:mb-0">
							Formstack&rsquo;s flexibility is its greatest strength&mdash;but without the right
							expertise, it&rsquo;s easy to waste time and money going down the wrong path. As a freelance
							Formstack developer, I&rsquo;ve built complex solutions across industries, including
							financial services, legal services, and Human Resources.
						</p>
					</div>
				</div>
			</div>
			<div class="w-full px-4 lg:w-1/2">
				<Image
					class="img-base max-h-80 w-full object-cover"
					src={import("../_images/formstack-developer-advantage-graphic.png")}
					alt="Formstack developer turning a complicated process into a simple Form."
					loading="eager"
				/>
			</div>
		</div>
		<div class="-mx-4 -mb-12 flex flex-wrap">
			<div class="mb-12 flex w-full items-start px-4 md:w-1/2 lg:w-1/3" data-pg-collapsed>
				<span
					class="inline-flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-deep-purple-500 font-work-sans font-semibold text-offwhite-50"
					>1</span
				>
				<div class="max-w-xs px-4" data-pg-collapsed>
					<p class="body-text">
						<strong>Automate Workflows:</strong> Eliminate tedious, manual processes that waste valuable time.
					</p>
				</div>
			</div>
			<div class="mb-12 flex w-full items-start px-4 md:w-1/2 lg:w-1/3" data-pg-collapsed>
				<span
					class="inline-flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-deep-purple-500 font-work-sans font-semibold text-offwhite-50"
					>2</span
				>
				<div class="max-w-xs px-4">
					<p class="body-text">
						<strong>Reduce Errors:</strong> Streamline data collection and ensure accuracy every time.
					</p>
				</div>
			</div>
			<div class="mb-12 flex w-full items-start px-4 md:w-1/2 lg:w-1/3">
				<span
					class="inline-flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-deep-purple-500 font-work-sans font-semibold text-offwhite-50"
					>3</span
				>
				<div class="max-w-xs px-4">
					<p class="body-text">
						<strong>Future-Proof Solutions:</strong> Design scalable systems that grow with your business.
					</p>
				</div>
			</div>
			<div class="mb-12 flex w-full items-start px-4 md:w-1/2 lg:w-1/3">
				<span
					class="inline-flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-deep-purple-500 font-work-sans font-semibold text-offwhite-50"
					>4</span
				>
				<div class="max-w-xs px-4">
					<p class="body-text">
						<strong>Optimize Integrations:</strong> Maximize your investment by seamlessly connecting Formstack
						to Salesforce, Microsoft Dynamics, Monday.com, Notion, and more.
					</p>
				</div>
			</div>
			<div class="mb-12 flex w-full items-start px-4 md:w-1/2 lg:w-1/3">
				<span
					class="inline-flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-deep-purple-500 font-work-sans font-semibold text-offwhite-50"
					>5</span
				>
				<div class="max-w-xs px-4">
					<p class="body-text">
						<strong>Stay On Brand:</strong> Maintain a unified branding strategy for your customers, from beautiful
						Forms to branded document output.
					</p>
				</div>
			</div>
			<div class="mb-12 flex w-full items-start px-4 md:w-1/2 lg:w-1/3">
				<span
					class="inline-flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-deep-purple-500 font-work-sans font-semibold text-offwhite-50"
					>6</span
				>
				<div class="max-w-xs px-4">
					<p class="body-text">
						<strong>Increase Efficiency:</strong> Save real time and money from the day your solution is deployed!
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
