---
import { Image } from "astro:assets";
---

<section class="bg-deep-purple-50 px-4 py-20" id="block-formstack-developer-hero">
	<div class="container mx-auto px-4">
		<div class="-mx-4 flex flex-wrap items-center">
			<div class="md:order-0 order-1 w-full px-4 md:w-1/3">
				<Image
					class="img-base w-full object-cover"
					src={import("../_images/freelance-formstack-developer-graphic.png")}
					alt="Formstack developer at work automating workflow solutions."
					loading="eager"
				/>
			</div>
			<div class="mb-12 w-full px-4 md:order-1 md:mb-0 md:w-2/3">
				<div class="lg:ml-auto lg:max-w-xl">
					<h2 class="heading-one mb-4 lg:mb-8">
						A Formstack Developer Takes Your Business From Chaos to Clarity
					</h2>
					<p class="body-text">
						Your business deserves solutions that actually work. Whether it&rsquo;s streamlining workflows,
						managing eSignatures, or integrating with your CRM, Formstack&rsquo;s powerful tools are the
						backbone of countless successful businesses. But here&rsquo;s the catch: unlocking its full
						potential requires expertise. That&rsquo;s where I come in.
					</p>
					<p class="body-text">
						As a Formstack developer with years of experience&mdash;and even contributions to its
						codebase&mdash;I help businesses like yours harness the full capabilities of Formstack to solve
						real problems, increase efficiency, and drive results.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
